NODE_ENV=development

API_HOST=127.0.0.1
EXPRESS_PORT=3004

MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_NAME=healthy-app
MONGODB_USER=dbOwner
MONGODB_PASSWORD=password

JWT_SECRET=secret

BACKUP_BUCKET=healthy-app
AWS_ID="AWS_IDUIGPSY3ETU2J7XR"
AWS_SECRET="tI69yhFuRJVlsYUg1pS3sXRrJKcA+DAWS_SECRET"

EMAIL_PASSWORD=123456
EMAIL_NAME=example@example.com
RUNNING_UPDATE_INTERVAL=3000 // 3s